@charset "utf-8";
/* CSS Document */
/* 页面元素初始化-start */
body{margin:0;background:url(../images/bg.jpg);}
form,ul,ol,li{padding:0;}
ul,ol,li{list-style:none;margin:0;}
a{text-decoration:none;}
img{border:none;}
/*清空浮动的代码-start*/
.clr:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clr {display:inline-block;}
html[xmlns] .clr {display: block;}
* html .clr {height: 1%;}
/*清空浮动的代码-end*/
/* 页面元素初始化-end */
.main{
	height:1040px;
	width:1000px;
	margin:0 auto;
}

.auRightconp{
	font-size:13px;
	color:#66667c;
}
.auRightimg{
	width:750px;
	height:240px;
	margin-top:50px;
}
.auRightimg1{
	width:332px;
	height:240px;
	float:left;
	margin-left:30px;
	display:inline;
}
.auRightimg2{
	width:332px;
	height:240px;
	float:left;
	margin-left:30px;
	display:inline;
}